#main-content {
    margin-left: 150px;
    padding: 10px;
}

#main-content input {
    width: 100%;
    padding: 10px;
    background-color: var(--background-color);
    border: 3px solid var(--accent-color);
    border-radius: 5px;
    font-family: 'Alegreya', serif;
    font-size: 14px;
    margin-bottom: 16px;
    margin-top: 2px;
}

#change-password-form {
    width: 240px;
}

label {
    font-family: 'Alegreya', serif;
}

#change-password-button {
    padding: 10px;
    background-color: var(--accent-color-2);
    border:none;
    border-radius: 0;
    color: var(--dark-background-color);
    font-family: 'Alegreya', serif;
    font-size: 14px;
}

#account-info-header {
    padding: 22px 0 30px 0;
}

#logout-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: var(--accent-color-2);
    color: var(--dark-background-color);
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Alegreya', serif;
}
