#content {
    margin-left: 120px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#page-content {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#list-container {
    display: flex;
    flex-direction: column;
    min-width: 220px;
}

#chapter-input {
    width: 55vw;
    height: 90vh;
    resize: none;
}

#ai-suggestion-box {
    width: 200px;
    height: 240px;
    margin-top: 200px; /* this will change */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--accent-color-2);
}

#ai-suggestion-box a {
    color: var(--dark-background-color)
}

.resolve-button {
    width: 100%;
    padding: 5px;
    background: var(--dark-background-color);
    border: none;
    border-radius: 0px;
    cursor: pointer;
    color: var(--background-color);
    font-family: 'Alegreya', serif;
    font-size: 14px;
}


.no-entries {
    color: #777;
}

.list-item-button {
    padding: 6px 10px;
    text-align: left;
    background-color: var(--background-color);
    color: var(--dark-background-color);
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Alegreya', serif;
}

#items-list {
    display: flex;
    flex-direction: column;
}
.list-item-button.selected {
    background: var(--accent-color-2);
}
