#flex-body {
    font-family: 'Alegreya', serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
}

.login-column {
    flex: 0 0 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-column {
    flex: 0 0 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../dummy_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}


.top-right-link {
    position: absolute;
    top: 10px;
    right: 30px;
    word-break: break-all;
}

.top-right-link a {
    color: var(--accent-color-2);
}

.login-container {
    background: #F4F4E7;
    padding: 30px;
    border-radius: 10px;
    max-width: 320px;
    width: 100%;
}

.header-thingy {
    padding-bottom: 15rem;
    text-align: left;
}

.header-thingy h1 {
    font-size: 6rem;
    font-weight: bold;
    color: var(--background-color);
    margin-bottom: -5px;
}

.header-thingy p {
    color: var(--background-color);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.login-container label {
    color: black;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    background-color: var(--background-color);
    border: 3px solid var(--accent-color);
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 12px 20px;
    background-color: #DCBB78;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Alegreya', serif;
}
