#flex-body {
    font-family: 'Alegreya', serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
}

.login-column {
    flex: 0 0 30%; /* 30% width */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-column {
    flex: 0 0 70%; /* 70% width */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../dummy_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.header-column a {
    color: white;
}

/*change this prolly*/
.top-right-link {
    position: absolute;
    top: 10px;
    right: 30px;
    word-break: break-all; /* Ensure long links wrap and don't overflow */
}

.login-container {
    background: #F4F4E7;
    padding: 30px;
    border-radius: 10px;
    max-width: 320px;
    width: 100%;
}

.header-thingy {
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.login-container label {
    color: black;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    background-color: var(--background-color);
    border: 2.5px solid var(--accent-color);
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 12px 20px; /* Increased padding */
    background-color: #DCBB78; /* New background color */
    color: black; /* Changed to black */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Slightly larger font size */
    margin-top: 10px; /* Add some space above the button */
    font-family: 'Alegreya', serif; /* Ensure button text uses Alegreya */
}
