#content {
    margin-left: 120px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#page-content {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#list-container {
    display: flex;
    flex-direction: column;
    min-width: 220px;
}

#chapter-input {
    width: 55vw;
    height: 90vh;
    resize: none;
}

#ai-suggestion-box {
    width: 200px;
    height: 240px;
    margin-top: 200px;
    padding: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background: var(--accent-color-2);
}

#ai-suggestion-box.visible {
    display: flex;
}

#ai-suggestion-box a {
    color: var(--dark-background-color)
}

.resolve-button {
    width: 100%;
    padding: 5px;
    background: var(--dark-background-color);
    border: none;
    border-radius: 0px;
    cursor: pointer;
    color: var(--background-color);
    font-family: 'Alegreya', serif;
    font-size: 14px;
}


.no-entries {
    color: #777;
}

.list-item-button {
    padding: 6px 10px;
    text-align: left;
    background-color: var(--background-color);
    color: var(--dark-background-color);
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Alegreya', serif;
}

#items-list {
    display: flex;
    flex-direction: column;
}
.list-item-button.selected {
    background: var(--accent-color-2);
}

#attribution-button, #attribution-bar {
    display: none;
}

/* Media query for mobile */
@media (max-width: 768px) {
    #sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        border-top: 1px solid #ccc;
        background-color: var(--dark-background-color);
        box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
        z-index: 1000;
    }

    #sidebar h2 {
        display: none;
    }

    #sidebar .nav-button, #sidebar .account-button {
        flex: 1;
        padding: 5px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        box-sizing: border-box;
        min-width: 0;
    }

    #sidebar .sidebar-image {
        width: 24px;
        height: 24px;
    }

    #content {
        margin-left: 0;
        margin-bottom: 70px;
        flex-direction: column;
    }

    #page-content {
        flex-direction: column;
        padding-top: 10px;
    }

    #list-container {
        min-width: unset;
        width: 100%;
    }

    #chapter-input {
        width: 90vw;
        height: 60vh;
    }
}
