:root {
    --background-color: #F4F4E7;
    --accent-color: #93A197;
}

body {
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
}

#sidebar {
    background: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 130px;
    align-items: center;
    row-gap: 30px;
}

.nav-button {
    width: 95px;
    height: 60px;
}

.account-button {
    margin-top: 35vh;
}

#main-content {
    margin-left: 150px;
    padding: 10px;
}

#flex-body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
}

.login-column {
    flex: 0 0 30%; /* 30% width */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-column {
    flex: 0 0 70%; /* 70% width */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('dummy_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.header-column a {
    color: white;
}

/*change this prolly*/
.top-right-link {
    position: absolute;
    top: 10px;
    right: 30px;
    word-break: break-all; /* Ensure long links wrap and don't overflow */
}

#content {
    margin-left: 150px;
    padding: 10px;
}

#list-container {
    display: flex;
    flex-direction: column;
    min-width: 220px;
}

#chapter-input {
    width: 300px;
    height: 400px;
    margin-top: 20px;
    resize: none;
}

#ai-suggestion-box {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resolve-button {
    width: 100%;
    padding: 5px;
}

.no-entries {
    color: #777;
}

.list-item-button {
    width: 100%;
    margin: 6px 0;
    padding: 12px;
    text-align: left;
    border: 1px solid #ccc;
    background: #f9f9f9;
    cursor: pointer;
}

.list-item-button.selected {
    background: #e0e0ff;
}

.login-container {
    background: #F4F4E7;
    padding: 30px;
    border-radius: 10px;
    max-width: 320px;
    width: 100%;
}

.header-thingy {
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.login-container label {
    color: black;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    background-color: var(--background-color);
    border: 2.5px solid var(--accent-color);
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 12px 20px;
    background-color: #DCBB78;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}